@media screen and (max-width: 1024px) {
    #main{
        display: none;
    }
    #responsive_h1{
        display: block;
    }
}

@media  screen and (min-width: 1024px) {
    
    #responsive_h1{
        display: none;
    }
}